* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

body {
    /* background-image: url("./images/kingfisher_heroBG_flippedWide_1440x811.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: rgba(13, 51, 57, 0.8); 
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    overflow: hidden;
    height: 100%;
    align-content: center;
}

#render-container {
    position: absolute;
    height: 80vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 150%;
    background-image: url("images/kingfisher_heroBG_hexagon_720square.png");
    background-size: cover;
}

nav { 
    width: 100vw;
    height: 10%;
    justify-content: center;
    align-items: center;
} 

li {
    display: list-item;    
}

.navbar-ul {
    max-width: 150vh;
}

.navbar-ul {
    width: 100%;
    padding: 3%;
    justify-content: space-between;
    align-content: center;
}

.navbar-li {
    list-style: none;
}

.navbar-button {
    margin: 15px 10px;
    height: 100%;
    list-style: none;
    color: rgba(241, 241, 241, 0.9);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

ul {
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    justify-content: center;
    font-size: 5vw;
}

#footer-container {   
    align-items: center;
    justify-content: space-between;
}

#footer-address {
    padding: 1%;
    min-width: 40vw;
    white-space: nowrap;
    color: gray;
    text-shadow: 2px 2px 2px 2px gray;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

a {
    margin: 1%;
    padding: 2.5%;
}

footer a {
    white-space: nowrap;
} 

#about-content-list {
    margin: 2% 0;
    min-height: 25vh;
    font-size: .85em;
    justify-content: space-around;
}

#about-content-list li {
    display: list-item;
    list-style-type: circle;
    padding: 1vh 0 .5vh 2vw;
    font-style: italic;
}

header {
    margin: auto;
    height: 100%;
}

#content-section {
    top: 18vh;
    left: 73vw;;
    height: 55vh;
    max-height: 60vh;
    width: 44vw;
    max-width: 66vh;
    color: rgba(241, 241, 241, 0.9);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    overflow: auto;
    box-shadow: none;
    position: absolute;
}

#home-section p {
    font-size: 4vw;
    line-height: 1em;
    margin: 0;
    color: rgba(241, 241, 241, 0.9);
    text-align: center;
}

#home-section h1 {
    margin: 20px auto;
    text-align: center;
    white-space: nowrap;
    font-size: 7vw;
}

section {
    width: 100%;
}

h1, h2, li button  {
    font-family: 'Lato', sans-serif;
}

.blur-filter {
    filter: blur(2px);
}

.hidden {
    display: none !important;
}

.contact-input {
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 4% 4% 4% 5%;
    color: white;
    width: 90%;
    margin: 0 auto 1vh 5%;
}

.contact-label {
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    opacity: 0;
    margin-left: 5%;
}

#contact-section {
    padding-top: 5vh;
}

.about-content {
    width: 100%;
    font-size: 4.4em;
    margin: 0 0 2% 0;
    line-height: 1em;
}

#submit-button {
    width: 70px;
    margin-top: 1vh;
    border-radius: 7px;
    background-color: rgba(13, 51, 57, 0.3); 
    border: none;
    color: white;
    font-size: .9em;
    padding: 2%;
}

input, button {
    cursor: pointer;
}

input::placeholder {
    font-size: 2.4vh;
    font-style: italic;
    color: white;
}

button:focus, a:focus {
    outline: none;
    -moz-text-shadow:    10px 10px 40px white;
    -webkit-text-shadow: 10px 10px 40px white;   
    text-shadow:         10px 10px 40px white;
    border: 1px rgba(241, 241, 241, 0.9) transparent;
}

label {
    font-size: .7em;
}

legend {
    font-size: 6vw;
    margin: 0 auto;
    color: white;
}

.center {
    text-align: center;
}

.logo-button {
    font-size: 1.5em;
    white-space: nowrap;
}

.about-button, .home-button, .projects-button, .contact-button {
    display: none;
}

#hemburgairrrrr-navbar {
    width: 100%;
    height: 5%;
    padding: 0;
}

#hemburgairrrrr-content-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 5%;
    padding: 0 20%;
    display: none;
    background-color: rgba(13, 51, 57, .22); 
}

#hemburgairrrrr-content-nav ul {
    margin: auto 0;
    height: 100%;
}

#hemburgairrrrr-content-nav li button {
    margin: 0 auto;
    font-style: italic;
    font-size: 1em;
    line-height: 1em;
}

.hemburgairrrrr-menu-button {
    height: 7vw;
    width: 9vw;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .3s ease;
    transform: scale(1);
}

#projects-content-mobile {
    width: 100%;
}

.project {
    height: 100%;
    margin-bottom: 10%;
}

.projects-link, .projects-header {
    padding: 0 15%;
}

.projects-header {
    text-align: center;
}

.project p {
    font-size: 2vh;
    padding: 5%;
    text-align: center;
    margin: 0;
}

[class^=app-picture], a[class^=app-picture] {
    width: 100%;
   
    text-align: center;
}

a[class^=app-picture] {
    margin: 0;
    padding: 0;
}

.app-picture1 {
    height: 26vh;
    max-height: 100px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.app-picture2 {
    height: 38vh;
    max-height: 150px;
    border-radius: 0 0 10px 10px;
}

h2 {
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    margin: 0;
    padding: 2%;
}

.img-container {
    width: 100%;
    justify-content: center;
}

#headshot-photo {
    width: 22.87vw;
    height: 30vw;
    max-width: 228px;
    max-height: 300px;
    margin: 0 auto;
    padding: 1vh .7vw 0;
}

#projects-button-about-section {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    color: rgb(13, 51, 57);
    font-size: .85em;
}

a:link {
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.3s;
}

a:hover, button:hover  {
    cursor: pointer;
    text-shadow: 8px 8px 16px black;
}

.hemburgairrrrr-menu-button:hover {
    transform: scale(1.1) perspective(.5px)
}








/* For mobile phones: */
@media only screen and (min-width: 420px) {
    .about-button, .home-button, .projects-button, .contact-button {
        display: list-item;
        font-size: 3vw;
    }

    

    #hemburgairrrrr-content-nav, .hemburgairrrrr-menu-button {
        display: none;
    }
}

@media only screen and (min-width: 421px) {
    .logo-button {
        font-size: 5vw;
    }

    #right-container {
        justify-content: space-between;
        width: 45vw;
        max-width: 350px;
    }

    #render-container {
        background-image: url("images/kingfisher_heroBG_hexagon_flippedWide_1440x811.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    h2 {
        font-size: 5vh;
    }

    .app-picture1 {
        height: 26vh;
        max-height: 300px;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }
    
    .app-picture2 {
        height: 38vh;
        max-height: 450px;
        border-radius: 0 0 10px 10px;
    }

    footer {
        font-size: 5vh;
    }

    .about-content {
        font-size: 3.5vh;
    }
}

@media only screen and (min-width: 720px) {
    .logo-button {
        font-size: 3.5vh;
    }

    .about-button, .home-button, .projects-button, .contact-button {
        font-size: 2.5vh;
    }

    legend {
        font-size: 5.5vh;
    }

    #home-section p {
        font-size: 4vh;
    }

    #right-container {
        max-width: 450px;
    }

    #footer-address {
        font-size: 3vh;
    }

    #home-section h1 {
        font-size: 8vh;
    }
}