* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

body {
    background-color: rgba(13, 51, 57, 0.8); 
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    overflow: hidden;
    height: 100%;
    align-content: center;
}

#render-container {
    position: absolute;
    height: 80vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 150%;
    background-image: url("images/kingfisher_heroBG_hexagon_720square.png");
    background-size: cover;
}

nav { 
    width: 100vw;
    height: 10%;
    justify-content: center;
    align-items: center;
} 

li {
    display: list-item;    
}

.navbar-ul {
    max-width: 150vh;
}

.navbar-ul {
    width: 100%;
    padding: 3%;
    justify-content: space-between;
    align-content: center;
}

.navbar-li {
    list-style: none;
}

.navbar-button {
    margin: 15px 10px;
    height: 100%;
    list-style: none;
    color: rgba(241, 241, 241, 0.9);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

ul {
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    justify-content: center;
    font-size: 5vw;
}

#footer-container {   
    align-items: center;
    justify-content: space-between;
    width: 80vmin;
}

#footer-address {
    padding: 1%;
    min-width: 20vmin;
    white-space: nowrap;
    color: gray;
    text-shadow: 2px 2px 2px 2px gray;
    font-size: 4vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

a {
    margin: 1%;
    padding: 2.5%;
}

footer a {
    white-space: nowrap;
} 

#about-content-list {
    margin: 2% 0;
    font-size: .85em;
    justify-content: space-around;
}

#about-content-list li {
    display: list-item;
    list-style-type: circle;
    padding: 1vh 0 .5vh 2vw;
    font-style: italic;
}

header {
    margin: auto;
    height: 100%;
}

#content-section {
    top: 18vh;
    left: 73vw;
    height: 66vmin;
    max-height: 55vh;
    min-height: 50vh;
    width: 44vmin;
    color: rgba(241, 241, 241, 0.9);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    overflow: auto;
    box-shadow: none;
    position: absolute;
}

#home-section p {
    font-size: 4vmin;
    line-height: 5vmin;
    margin: 0;
    color: rgba(241, 241, 241, 0.9);
    text-align: center;
}

#home-section h1 {
    margin: 2vh auto;
    text-align: center;
    white-space: nowrap;
    font-size: 7vmin;
}

section {
    width: 100%;
}

.float-section {
    position: absolute; 
}

h1, h2, li button  {
    font-family: 'Lato', sans-serif;
}

.blur-filter {
    filter: blur(2px);
}

.hidden {
    display: none !important;
}

.contact-input {
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1vh 3%;
    color: white;
    width: 90%;
    height: 7vmin;
    margin: 0 auto 1vh 5%;
    font-size: 4vmin;
}

.contact-label {
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    opacity: 0;
    margin-left: 5%;
    font-size: 2vmin;
}

#contact-section {
    height: 100%;
}

.about-content {
    width: 100%;
    margin: 0 0 2% 0;
    line-height: 1em;
    font-size: 4vmin;
}

#submit-button {
    width: 24vmin;
    height: 6vmin;
    margin-top: 1vh;
    border-radius: 7px;
    background-color: rgba(13, 51, 57, 0.3); 
    border: none;
    color: white;
    font-size: 3vmin;
    padding: 2%;
}

input, button {
    cursor: pointer;
}

input::placeholder {
    font-size: 3vmin;
    font-style: italic;
    color: white;
}

button:focus, a:focus {
    outline: none;
    -moz-text-shadow:    10px 10px 40px white;
    -webkit-text-shadow: 10px 10px 40px white;   
    text-shadow:         10px 10px 40px white;
    border: 1px rgba(241, 241, 241, 0.9) transparent;
}

label {
    font-size: .7em;
}

legend {
    font-size: 6vw;
    margin: 0 auto;
    color: white;
}

.center {
    text-align: center;
}

.logo-button {
    font-size: 1.5em;
    white-space: nowrap;
}

.about-button, .home-button, .projects-button, .contact-button {
    display: none;
}

#hemburgairrrrr-navbar {
    width: 100%;
    height: 5%;
    padding: 0;
}

#hemburgairrrrr-content-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 5%;
    padding: 0 20%;
    display: none;
    background-color: rgba(13, 51, 57, .22); 
}

#hemburgairrrrr-content-nav ul {
    margin: auto 0;
    height: 100%;
}

#hemburgairrrrr-content-nav li button {
    margin: 0 auto;
    font-style: italic;
    font-size: 1em;
    line-height: 1em;
}

.hemburgairrrrr-menu-button {
    height: 7vw;
    width: 9vw;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .3s ease;
    transform: scale(1);
}

#projects-content-mobile {
    width: 100%;
}

.project {
    height: 100%;
    width: 40vmin;
    margin: 5% auto 5% auto;
}

.projects-link {
    text-align: center;
}

.projects-header {
    text-align: center;
    margin-bottom: 1vh;
}

.project p {
    font-size: 3vmin;
    padding: 2%;
    text-align: center;
    margin: 0;
}

.projects-github-link {
    font-size: 4vmin;
}

[class^=app-picture], a[class^=app-picture] {
    width: 100%;
   
    text-align: center;
}

a[class^=app-picture] {
    margin: 0;
    padding: 0;
}

.app-picture1 {
    height: 26vmin;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.app-picture2 {
    height: 38vmin;
    border-radius: 0 0 10px 10px;
}

h2 {
    font-size: 6vmin;
    text-align: center;
    margin: 0;
    padding: 2%;
}

.img-container {
    width: 100%;
    justify-content: center;
}

#headshot-photo {
    width: 22.87vmin;
    height: 30vmin;
    margin: 0 auto;
    padding: 1vh .7vw 0;
}

#projects-button-about-section {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    color: rgb(13, 51, 57);
    font-size: 4vmin;
    font-weight: bold;
}

#contact-link-container {
    width: 100%;
    margin: 1vh 0 0 0;
    justify-content: space-around;
    font-size: 5vmin;
}

a:link {
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.3s;
}

a:visited {
    color: white;
}

a:hover, button:hover  {
    cursor: pointer;
    text-shadow: 8px 8px 16px black;
}

.hemburgairrrrr-menu-button:hover {
    transform: scale(1.1) perspective(.5px)
}








/* For mobile phones: */
@media only screen and (min-width: 420px) {
    .about-button, .home-button, .projects-button, .contact-button {
        display: list-item;
        font-size: 3vmin;
    }

    

    #hemburgairrrrr-content-nav, .hemburgairrrrr-menu-button {
        display: none;
    }
}

@media only screen and (min-width: 421px) {
    .logo-button {
        font-size: 5vmin;
    }

    #right-container {
        justify-content: space-between;
        width: 45vmin;
        margin-left: 1vmax;
    }

    #right-container li {
        padding: 0 1vmin;
        font-size: 2vmin;
    }

    #render-container {
        background-image: url("images/kingfisher_heroBG_hexagon_flippedWide_1440x811.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .app-picture1 {
        height: 26vmin;
        border-radius: 10px 10px 0 0;
        
    }
    
    .app-picture2 {
        height: 38vmin;
        border-radius: 0 0 10px 10px;
    }

    footer {
        font-size: 5vmin;
    }

    #contact-link-container {
        font-size: 4vmin;
    }

    .project {
        width: 37vmin;
        margin-left: auto;
        margin-right: auto;
    }

    .projects-github-link {
        font-size: 3.5vmin;
    }
}

@media only screen and (min-width: 720px) {
    .logo-button {
        font-size: 4vmin;
    }

    .about-button, .home-button, .projects-button, .contact-button {
        font-size: 3vmin;
    }

    legend {
        font-size: 5.5vmin;
    }

    #home-section p {
        font-size: 3.3vmin;
    }

    #right-container {
        max-width: 45vmin;
    }

    #footer-address {
        font-size: 3vmin;
    }

    #home-section h1 {
        font-size: 7vmin;
    }
}